.carousel-inner {
    width: auto;
    height: 500px;
}
.carousel-inner img {
    height: 500px;
}

.container-cards {
    display: flex;
    justify-content: space-around;

    margin-top: 100px;
}

.container-cards img {
    height: 150px;
}

.card .btn {
    display: flex;
    justify-self: auto;
}
.container-rosto {
    display: flex;
    justify-content: space-around;

    margin-top: 50px;
}